*,::after,::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    font-family: 'poppins', Times, serif;
    font-size: 14px;
    background-color: #f1f1f1f1;
    overflow-x: hidden;
}
h1
{
    text-transform: capitalize;
    font-style: italic;
    
}
h1>span
{
    color: blue;
    font-weight: bold;
    text-transform: lowercase;
}
.container
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 50px;
    overflow-y: scroll;
}
.container .ligne 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px; 
}
.container  input
{
    border: 0.5px solid gray;
    outline: none;
    border-radius: 5px;
    text-indent:15px;
    height: 50px;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}
.container .ligne input:first-child
{
    min-width: 300px;
}
.container input[type="button"]
{
    padding: 0px 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
    cursor: pointer;
    position: relative;
    border: none;
    transition: all .2s ease-in-out;
    font-weight: bold;
    font-size: 16px
}
.container input[type="button"]:hover
{
    top: 2px;
    opacity: 0.8;
    background-color: rgb(7, 186, 186);
}
.container .ligne input:last-child:hover
{
     background-color: crimson;
}
.qrcode-content
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    flex-wrap: wrap;
}

.qrcode-content .left
{
    width: 20%;
    min-width: 250px;
}
.qrcode-content .right
{
  width: 45%;
}

.qrcode-content .liste_qrcode
{
    width: 30%;
    min-width: 200px;
    overflow-y: scroll;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    padding: 10px 15px;
}
.qrcode-content .liste_qrcode .tr
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    border: 1px solid teal;
    height: 35px;
}
.qrcode-content .liste_qrcode .tr .th
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-right: 1px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: teal;
}
.qrcode-content .liste_qrcode #liste_qrcodecontent
{
    width: 100%;
}
.qrcode-content .liste_qrcode  .tr .td
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
}
.qrcode-content .liste_qrcode  .tr .td:first-child
{
    font-weight: bold;
    font-size: 16px;
}
.qrcode-content .left,.qrcode-content .right
{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.qrcode-content .left>img
{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
}

